@import 'vars';
.product-detail{
    width: 360px;
    padding: 24px;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    background-color: white;
    top: 60px;
    border-radius: 0;
    border-radius: 6px;
    border: 1px solid var(--very-light-pink);
}
.shopping-cart-container{
    display: flex;
    margin-bottom: 20px;
}
.shopping-cart-container img{
    margin-right: 14px;
    transform: rotate(180deg);
}
.shopping-cart-container .title{
    font-size: var(--lg);
    font-weight: bold;
    margin: 0;
}
.order{
    display: grid;
    grid-template-columns: auto 1fr ;
    gap: 16px;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}
.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}
.order p span:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
}
.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
}

.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
@media(max-width: 640px){
    .product-detail{
        width: 100%;
    }
}